<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mys3soft.mys3chat"
    android:versionCode="@android:integer/config_longAnimTime"
    android:versionName="first release">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="The Liar King"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".score_board"></activity>
        <activity android:name=".wait_before_start" />
        <activity android:name=".process_continue_game" />
        <activity android:name=".wait_result" />
        <activity android:name=".give_up_screen" />
        <activity android:name=".give_up_or_continue" />
        <activity android:name=".waiting_response_video" />
        <activity android:name=".result_player_filming" />
        <activity android:name=".result_player_guess" />
        <activity android:name=".show_category_for_player_guess" />
        <activity android:name=".show_category_player_filming" />
        <activity android:name=".waiting_guess" />
        <activity android:name=".gusseing_screen" />
        <activity android:name=".film_and_send_video" />
        <activity
            android:name=".ActivityMain"
            android:label="The Liar King"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityLogin"
            android:launchMode="singleTop"
            android:noHistory="true" />
        <activity android:name=".ActivityRegister" />
        <activity android:name=".ActivityProfile" />
        <activity android:name=".ActivityAddContact" />
        <activity android:name=".ActivityFriendProfile" />
        <activity android:name=".ActivityNotifications" />

        <service
            android:name=".AppService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />

        <receiver
            android:name=".AppReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mys3soft.mys3chat.restartservice" />
            </intent-filter>
        </receiver>
    </application>

</manifest>